body {
  font-family: 'Roboto', sans-serif;
  background-color: #263238;

  margin: 0;
}

h1 {
  font-size: 2.2em;
  color: #E0E0E0;
  margin: 0.5em;
}

.table {
  width: 100%;
  border: none;
  padding: 1em 3em 1em 3em;
  background-color: #37474F;
  border-spacing: 0.5em 0.5em;
}

.tablecell {
  width: 1.8em;
  height: 2.8em;
}

.element {
  font-size: 1.1em;
  text-align: center;
  color: #E0E0E0;
  background-color: #455A64;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.element:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #607D8B;
}

.empty {
  border: none;
}
