@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

$light-grey: #E0E0E0;
$dark-blue-grey: #263238;
$light-blue-grey: #CFD8DC;

$blue-grey: #455A64;
$purple: #4A148C;
$red: #b71c1c;
$deep-orange: #BF360C;
$green: #1B5E20;
$lime: #827717;
$teal: #004D40;
$orange: #E65100;
$indigo: #1A237E;
$light-blue: #01579B;
$blue: #0D47A1;

$lighten: 15%;

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $light-blue-grey;

  margin: 0;
  width: 100%;
}

h1 {
  font-size: 1.8em;
  padding: 0.8em;
  margin: 0;

  color: $light-grey;
  background-color: $dark-blue-grey;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.table {
  width: 100%;
  border: none;
  padding: 1em 3em 1em 3em;
  border-spacing: 0.5em 0.5em;

  .cell {
    width: 1.8em;
    height: 2.8em;
  }

  .element {
    font-size: 1.1em;
    text-align: center;
    color: $light-grey;

    cursor: pointer;

    border-radius: 2px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  .empty {
    border: none;
  }
}

.nonmetal {
  background-color: $purple;
  &:hover {
    background-color: lighten($purple, $lighten);
  }
}

.transition-metal {
  background-color: $orange;
  &:hover {
    background-color: lighten($orange, $lighten);
  }
}

.unknown {
  background-color: $blue-grey;
  &:hover {
    background-color: lighten($blue-grey, $lighten);
  }
}

.alkali-metal {
  background-color: $red;
  &:hover {
    background-color: lighten($red, $lighten);
  }
}

.alkaline-earth-metal {
  background-color: $deep-orange;
  &:hover {
    background-color: lighten($deep-orange, $lighten);
  }
}

.other-metal {
  background-color: $teal;
  &:hover {
    background-color: lighten($teal, $lighten);
  }
}

.halogen {
  background-color: $lime;
  &:hover {
    background-color: lighten($lime, $lighten);
  }
}

.noble-gas {
  background-color: $green;
  &:hover {
    background-color: lighten($green, $lighten);
  }
}

.lanthanoid {
  background-color: $blue;
  &:hover {
    background-color: lighten($blue, $lighten);
  }
}

.actinoid {
  background-color: $light-blue;
  &:hover {
    background-color: lighten($light-blue, $lighten);
  }
}

.metalloid {
  background-color: $indigo;
  &:hover {
    background-color: lighten($indigo, $lighten);
  }
}
