@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";
.table {
  width: 100%;
  border: none;
  padding: 1em 2em 1em 2em;
  border-spacing: 0.5em 0.5em; }
  .table .cell {
    width: 1.8em;
    height: 2.8em; }
  .table .element {
    font-size: 1.1em;
    text-align: center;
    color: #E0E0E0;
    padding: 0;
    padding-bottom: 0.15em;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .table .element:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .table .element p {
      font-size: 0.6rem; }
    .table .element h1 {
      font-size: 1.3rem; }
    .table .element .element-cell-text-item {
      vertical-align: middle;
      display: inline-block;
      margin: auto; }
    .table .element .element-cell-row {
      display: flex;
      justify-content: space-between; }
  .table .empty {
    border: none; }

.modal {
  position: fixed;
  z-index: 1;
  overflow-y: hidden;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-content {
    position: relative;
    margin: auto;
    width: 30%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    animation-name: animateBottomIn;
    animation-duration: 0.4s; }
    .modal .modal-content .modal-text {
      margin: 0.5em;
      padding: 0.2em 0.5em;
      color: #212121;
      display: flex;
      align-items: center;
      position: relative; }
      .modal .modal-content .modal-text p {
        text-align: center;
        margin: 0;
        display: inline; }
      .modal .modal-content .modal-text img {
        width: 1em;
        height: 1em; }
      .modal .modal-content .modal-text .tooltip {
        visibility: hidden;
        width: 240px;
        background-color: rgba(5, 5, 5, 0.9);
        color: #fff;
        text-align: center;
        font-size: 0.9rem;
        padding: 1.2em;
        border-radius: 6px;
        top: -105%;
        left: 105%;
        position: absolute;
        z-index: 2; }
      .modal .modal-content .modal-text .tooltipcontainer:hover + .tooltip {
        visibility: visible; }
      .modal .modal-content .modal-text .copy {
        margin-left: .75em;
        cursor: pointer; }
      .modal .modal-content .modal-text .help {
        margin-left: auto;
        cursor: pointer; }
    .modal .modal-content .modal-heading {
      padding: 0.5em;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative; }
      .modal .modal-content .modal-heading .modal-text {
        margin: 0.25em;
        color: #F5F5F5;
        text-align: center;
        display: block; }
        .modal .modal-content .modal-heading .modal-text p {
          text-align: center; }
        .modal .modal-content .modal-heading .modal-text .copy {
          position: absolute; }
      .modal .modal-content .modal-heading .name-text {
        font-size: 1.5rem; }
      .modal .modal-content .modal-heading .symbol-text {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0; }
    .modal .modal-content .modal-body {
      padding: 1em;
      background-color: #fefefe;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
      .modal .modal-content .modal-body .tag-text {
        color: #E0E0E0;
        border-radius: 15px; }
  .modal .modal-close {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    padding: 1em;
    width: 2.5em;
    height: 2.5em;
    outline: none; }
    .modal .modal-close:hover, .modal .modal-close:focus {
      cursor: pointer; }
  .modal .animate-out {
    animation-name: animateBottomOut;
    animation-duration: 0.4s; }

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(5, 5, 5, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 50em;
  padding: 1em;
  position: fixed;
  z-index: 2;
  left: 50%;
  bottom: 30px;
  font-size: 14px; }

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s; }

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
@keyframes animateBottomIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }
@keyframes animateBottomOut {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: -600px;
    opacity: 1; } }
.nonmetal {
  background-color: #6A1B9A; }
  .nonmetal.lightenable:hover {
    background-color: #8f25d0; }

.transition-metal {
  background-color: #F57C00; }
  .transition-metal.lightenable:hover {
    background-color: #ff9c36; }

.unknown {
  background-color: #37474F; }
  .unknown.lightenable:hover {
    background-color: #516975; }

.alkali-metal {
  background-color: #c62828; }
  .alkali-metal.lightenable:hover {
    background-color: #dc5252; }

.alkaline-earth-metal {
  background-color: #D84315; }
  .alkaline-earth-metal.lightenable:hover {
    background-color: #ec6940; }

.other-metal {
  background-color: #00695C; }
  .other-metal.lightenable:hover {
    background-color: #00a994; }

.halogen {
  background-color: #558B2F; }
  .halogen.lightenable:hover {
    background-color: #72bb3f; }

.noble-gas {
  background-color: #2E7D32; }
  .noble-gas.lightenable:hover {
    background-color: #3fac45; }

.lanthanide {
  background-color: #1565C0; }
  .lanthanide.lightenable:hover {
    background-color: #2d84e8; }

.actinide {
  background-color: #00838F; }
  .actinide.lightenable:hover {
    background-color: #00bdcf; }

.metalloid {
  background-color: #283593; }
  .metalloid.lightenable:hover {
    background-color: #3647c5; }

.p-block {
  background-color: #F57C00; }
  .p-block.lightenable:hover {
    background-color: #ff9c36; }

.d-block {
  background-color: #2E7D32; }
  .d-block.lightenable:hover {
    background-color: #3fac45; }

.s-block {
  background-color: #1565C0; }
  .s-block.lightenable:hover {
    background-color: #2d84e8; }

.f-block {
  background-color: #6A1B9A; }
  .f-block.lightenable:hover {
    background-color: #8f25d0; }

.gas {
  background-color: #c62828; }
  .gas.lightenable:hover {
    background-color: #dc5252; }

.liquid {
  background-color: #1565C0; }
  .liquid.lightenable:hover {
    background-color: #2d84e8; }

.solid {
  background-color: #2E7D32; }
  .solid.lightenable:hover {
    background-color: #3fac45; }

.en-one {
  background-color: #283593; }
  .en-one.lightenable:hover {
    background-color: #3647c5; }

.en-two {
  background-color: #1565C0; }
  .en-two.lightenable:hover {
    background-color: #2d84e8; }

.en-three {
  background-color: #00838F; }
  .en-three.lightenable:hover {
    background-color: #00bdcf; }

.en-four {
  background-color: #00695C; }
  .en-four.lightenable:hover {
    background-color: #00a994; }

.en-five {
  background-color: #2E7D32; }
  .en-five.lightenable:hover {
    background-color: #3fac45; }

.en-six {
  background-color: #558B2F; }
  .en-six.lightenable:hover {
    background-color: #72bb3f; }

.en-seven {
  background-color: #AFB42B; }
  .en-seven.lightenable:hover {
    background-color: #cfd44b; }

.en-none {
  background-color: #37474F; }
  .en-none.lightenable:hover {
    background-color: #516975; }

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  width: 100%; }

#toolbar {
  padding: 0.5em;
  color: #E0E0E0;
  background-color: #263238;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  #toolbar h1 {
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0;
    flex: 1;
    float: none; }
  #toolbar #options-dropdown-container {
    position: relative;
    display: inline-block; }
    #toolbar #options-dropdown-container #options-btn {
      margin: 0;
      width: 2.5em;
      height: 2.5em;
      outline: none; }
    #toolbar #options-dropdown-container .dropdown {
      display: none;
      position: absolute;
      overflow: auto;
      min-width: 13em;
      min-height: 14em;
      left: -11em;
      background-color: #F5F5F5;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      overflow-x: hidden; }
      #toolbar #options-dropdown-container .dropdown .dropdown-item {
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 0.8em 0 0.8em 1em;
        cursor: pointer; }
        #toolbar #options-dropdown-container .dropdown .dropdown-item .dropdown-done {
          display: inline-block;
          visibility: hidden;
          width: 1.8em;
          height: 1.8em;
          padding-right: 0.8em; }
        #toolbar #options-dropdown-container .dropdown .dropdown-item span {
          color: #212121;
          font-size: 1.2em; }
        #toolbar #options-dropdown-container .dropdown .dropdown-item:hover {
          background-color: #d5d5d5; }
        #toolbar #options-dropdown-container .dropdown .dropdown-item .icon-visible {
          visibility: visible; }
    #toolbar #options-dropdown-container .show {
      display: inline-block; }

/*# sourceMappingURL=styles.css.map */
