@import 'vars';

.nonmetal {
  background-color: $purple;
  &.lightenable:hover {
    background-color: lighten($purple, $lighten);
  }
}

.transition-metal {
  background-color: $amber;
  &.lightenable:hover {
    background-color: lighten($amber, $lighten);
  }
}

.unknown {
  background-color: $blue-grey;
  &.lightenable:hover {
    background-color: lighten($blue-grey, $lighten);
  }
}

.alkali-metal {
  background-color: $red;
  &.lightenable:hover {
    background-color: lighten($red, $lighten);
  }
}

.alkaline-earth-metal {
  background-color: $deep-orange;
  &.lightenable:hover {
    background-color: lighten($deep-orange, $lighten);
  }
}

.other-metal {
  background-color: $teal;
  &.lightenable:hover {
    background-color: lighten($teal, $lighten);
  }
}

.halogen {
  background-color: $light-green;
  &.lightenable:hover {
    background-color: lighten($light-green, $lighten);
  }
}

.noble-gas {
  background-color: $green;
  &.lightenable:hover {
    background-color: lighten($green, $lighten);
  }
}

.lanthanide {
  background-color: $blue;
  &.lightenable:hover {
    background-color: lighten($blue, $lighten);
  }
}

.actinide {
  background-color: $cyan;
  &.lightenable:hover {
    background-color: lighten($cyan, $lighten);
  }
}

.metalloid {
  background-color: $indigo;
  &.lightenable:hover {
    background-color: lighten($indigo, $lighten);
  }
}

.p-block {
  background-color: $amber;
  &.lightenable:hover {
    background-color: lighten($amber, $lighten);
  }
}

.d-block {
  background-color: $green;
  &.lightenable:hover {
    background-color: lighten($green, $lighten);
  }
}

.s-block {
  background-color: $blue;
  &.lightenable:hover {
    background-color: lighten($blue, $lighten);
  }
}

.f-block {
  background-color: $purple;
  &.lightenable:hover {
    background-color: lighten($purple, $lighten);
  }
}

.gas {
  background-color: $red;
  &.lightenable:hover {
    background-color: lighten($red, $lighten);
  }
}

.liquid {
  background-color: $blue;
  &.lightenable:hover {
    background-color: lighten($blue, $lighten);
  }
}

.solid {
  background-color: $green;
  &.lightenable:hover {
    background-color: lighten($green, $lighten);
  }
}

.en-one {
  background-color: $indigo;
  &.lightenable:hover {
    background-color: lighten($indigo, $lighten);
  }
}

.en-two {
  background-color: $blue;
  &.lightenable:hover {
    background-color: lighten($blue, $lighten);
  }
}

.en-three {
  background-color: $cyan;
  &.lightenable:hover {
    background-color: lighten($cyan, $lighten);
  }
}

.en-four {
  background-color: $teal;
  &.lightenable:hover {
    background-color: lighten($teal, $lighten);
  }
}

.en-five {
  background-color: $green;
  &.lightenable:hover {
    background-color: lighten($green, $lighten);
  }
}

.en-six {
  background-color: $light-green;
  &.lightenable:hover {
    background-color: lighten($light-green, $lighten);
  }
}

.en-seven {
  background-color: $lime;
  &.lightenable:hover {
    background-color: lighten($lime, $lighten);
  }
}

.en-none {
  background-color: $blue-grey;
  &.lightenable:hover {
    background-color: lighten($blue-grey, $lighten);
  }
}
