@import 'vars';

.modal {
  position: fixed;
  z-index: 1;
  overflow-y: hidden;;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    position: relative;
    margin: auto;
    width: 30%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    animation-name: animateBottomIn;
    animation-duration: 0.4s;

    // Default text style (including tooltips)
    .modal-text {
      margin: 0.5em;
      padding: 0.2em 0.5em;
      color: $text-grey;
      display: flex;
      align-items: center;
      position: relative;

      p {
        text-align: center;
        margin: 0;
        display: inline;
      }

      img {
        width: 1em;
        height: 1em;
      }

      .tooltip {
        visibility: hidden;
        width: 240px;
        background-color: rgba(5, 5, 5, 0.9);;
        color: #fff;
        text-align: center;
        font-size: 0.9rem;
        padding: 1.2em;
        border-radius: 6px;

        top: -105%;
        left: 105%;
        position: absolute;
        z-index: 2;
      }

      .tooltipcontainer:hover + .tooltip {
        visibility: visible;
      }

      .copy {
        margin-left: .75em;
        cursor: pointer;
      }

      .help {
        margin-left: auto;
        cursor: pointer;
      }
    }

    // Heading style
    .modal-heading {
      padding: 0.5em;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative;

      .modal-text {
        margin: 0.25em;
        color: $light-blue-grey;
        text-align: center;
        display: block;

        p {
          text-align: center;
        }

        .copy {
          position: absolute;
        }
      }

      .name-text {
        font-size: 1.5rem;
      }

      .symbol-text {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    // Body style
    .modal-body {
      padding: 1em;
      background-color: #fefefe;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .tag-text {
        color: $light-grey;
        border-radius: 15px;
      }
    }
  }

  .modal-close {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    padding: 1em;
    width: 2.5em;
    height: 2.5em;
    outline: none;

    &:hover, &:focus {
      cursor: pointer;
    }
  }

  .animate-out {
    animation-name: animateBottomOut;
    animation-duration: 0.4s;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(5, 5, 5, 0.9);;
  color: #fff;
  text-align: center;
  border-radius: 50em;
  padding: 1em;
  position: fixed;
  z-index: 2;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

// Snackbar animations
@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

// Modal animations
@keyframes animateBottomIn {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes animateBottomOut {
  from {
    bottom: 0;
    opacity: 0
  }
  to {
    bottom: -600px;
    opacity: 1
  }
}
