$light-grey: #E0E0E0;
$dark-blue-grey: #263238;
$light-blue-grey: #F5F5F5;

$text-grey: #212121;

$blue-grey: #37474F;
$purple: #6A1B9A;
$red: #c62828;
$deep-orange: #D84315;
$green: #2E7D32;
$light-green: #558B2F;
$lime: #AFB42B;
$teal: #00695C;
$amber: #F57C00;
$indigo: #283593;
$cyan: #00838F;
$blue: #1565C0;

$lighten: 12.5%;
